.mywatchlist {
    width: 100%;
    padding: 0 0 50px;
    &__subtitle {
        font-size: 22px;
        text-align: center;
        text-align: center;
        margin: 0 0 50px;
    }
}
.watchlist {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__form {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 20px;
    }
    &__input {
        flex: 0 1 50%;
        padding: 15px 15px;
        font-size: 18px;
        border-radius: 5px;
    }
    &__btn-add {
        flex: 0 1 20%;
        padding: 15px 15px;
        font-size: 18px;
        border-radius: 5px;
    }
    &__item {
        border-radius: 5px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        margin: 0 auto 20px;
    }
    &__checkbox {
        flex: 0 1 20%;
    }
    &__name {
        color: #fff;
        font-size: 22px;
        font-weight: 700px;
        flex: 0 1 50%;
    }
    &__btn-dlt {
        flex: 0 1 20%;
        padding: 10px 0;
        background: rgba($color: #000000, $alpha: 0.5);
        color: #fff;
    }
}
