.characters {
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 3em 0;
    }
    &__item {
        flex: 0 1 20%;
        margin: 0 10px 50px;
    }
    &__pagination {
        span {
            font-size: 18px !important;
            font-weight: 500px;
            display: inline-block;
            margin: 0px 20px 0 0;
            color: red;
            cursor: pointer;
        }
    }
    &__pagination-selectedPage {
        font-weight: 900;
        font-size: 20px;
    }
}
