.characters {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &__list {
    }
    &__title {
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    &__card {
        flex: 0 1 20%;
        margin: 0 10px 50px;
        .MuiButtonBase-root {
            color: #fff !important;
            background: rgba(0, 0, 0, 0.7);
            width: 100%;
            transition: 0.2s 0s linear;
        }
        .MuiButtonBase-root:hover {
            color: #fff !important;
        }
    }
    &__pagination {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 50px;
    }
    &__notfound {
    }
    &__descr {
        color: #fff;
    }
}
.filter {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    &__item {
        flex: 0 1 25%;
    }
    &__select {
        background: rgba(0, 0, 0, 0.4);
    }
}

.css-1wnsr1i {
    border-radius: 10px !important;
    background: rgba(0, 0, 0, 0.9) !important;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    padding: 10px;
    background: rgba(0, 0, 0, 0.9) !important;
}
